*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header & Navbar */
.container{
    padding: 0 20px;
}
nav{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.fa-bars{
    border: 0;
    font-size: 20px;
}
nav button{
    background-color: white;
    border: 0;
}
nav .google-photo{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}
nav span{
    padding: 15px 0 0 ;
    font-size: 20px;
}
.nav-left-item{
    display: flex;
}
.nav-right-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav img{
    padding: 10px;
}
nav .fa-plus{
    font-size: 20px;
    padding: 0 20px;
}
nav .grid{
    width: 40px;
    height: 40px;
    /* padding: 0 20px; */
}
nav .profil-photo{
    width: 60px;
    border-radius: 50%;
}

/* Icon Section */
.icons-section{
    color: rgb(51, 51, 255);
    margin: 40px 0;
}
.icons-section .fa-folder-plus{
    padding: 0 10px;
}
.icons-section .fa-calendar{
    padding: 0 10px;
}
a{
    text-decoration: none;
}

/* Card Section */
.cards-sections{

}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 270px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin: 0 20px 20px 0;
}
.card img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card-body{
    height: 150px;
}
.card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.171);
}
.card-footer .fa-arrow-trend-up{
    padding: 0 15px;
}